.accordion {
  max-width: 60%;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
}
input[type="checkbox"] {
  display: none;
  appearance: none;
}
.accordion-item {
  padding: 1em;
  background-color: #f8f8f8;
  border-radius: 0.5em;
}
.accordion-item:not(:last-child) {
  margin-bottom: 1em;
}
.accordion-content {
  color: #606060;
  font-size: 0.8em;
  line-height: 1.8em;
}
label {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  color: #000000;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
}
input[type="checkbox"] ~ label .arrow {
  display: inline-block;
  transition: 1s;
}

input[type="checkbox"]:checked ~ label .arrow {
  transform: rotate(90deg);
}
input[type="checkbox"]:checked ~ label {
  color: #0083e9;
}
input[type="checkbox"] ~ .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}
input[type="checkbox"]:checked ~ .accordion-content {
  max-height: 100vh;

  transition: 1s;
}
.alone {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  label {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
  }
}

@media all and (max-width: 426px) {
  .accordion {
    max-width: 91%;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
  }

  .accordion img {
    max-width: 28%;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
  }

  .accordion span {
    font-size: 13px;
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
  }

  .alone {
    font-size: 19px;
  }
}
