.why-main {
  padding: 20px 82px;
  background-color: #ffe7f1;
  width: 100%;
  margin-top: 40px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.img-why {
  width: 50%;
  height: auto;
}

.why-img {
  margin: auto;
  border-radius: 20px;
  padding: 30px;
}

.content-why {
  width: 50%;
}

.content-why h5 {
  margin-bottom: 20px;
  font-size: 27px;
}

.checkbox-why p {
  font-size: 13px;
  color: #ee408a;
  font-weight: 500;
}
.why {
  padding: 0px 50px;
}
.why h2 {
  font-weight: 600;
  font-size: 30px;
}

.car2 {
  display: none;
}

.upper-h5 {
  display: none;
}

.learn {
  padding: 10px 12px;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 13px;
}

@media screen and (max-width: 1072px) {
  .learn {
    padding: 10px 18px;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin: 20px 0px;
    font-size: 13px;
  }
  .content-para {
    font-size: 11px;
  }

  .content-why {
    width: 50%;
  }

  .why-main {
    padding: 20px 32px;
    background-color: #ffe7f1;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
  }
  .content-why h5 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .checkbox-why p {
    font-size: 11px;
    color: #ee408a;
    font-weight: 500;
  }
}

@media all and (max-width: 768px) {
  .why h2 {
    font-weight: 600;
    font-size: 20px;
    /* padding: 10px; */
    padding-left: 17px;
  }
  .content-why {
    width: 80%;
  }
}

@media screen and (max-width: 766px) {
  .why-img {
    display: none;
    padding: 0px;
    border-radius: 1px;
  }

  .content-why h5 {
    display: none;
  }

  .content-why {
    margin-top: 10px;
  }

  .img-why {
    width: 88%;
    height: auto;
  }

  .why {
    padding: 0px;
  }

  .why-main {
    padding: 0px;
    flex-direction: column;
  }

  .upper-h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .car2 {
    display: block;
  }
}

@media all and (max-width: 426px) {
}
