.background-pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the popup is above other content */
}

.cars-rows {
  width: 100%;
}

.cars-rows svg {
  color: gray;
}

.body-pop {
  background-color: white;
  padding: 20px;

  /* border-radius: 8px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* width: 90%; */

  border-radius: 5px;
  width: 50rem;
  max-width: 100%;
  margin: 0px auto;
  /* max-width: 500px; */
  margin: auto;
  text-align: center;
}

.body-pop h1 {
  font-size: 1.8rem;
}

.cars-rows:hover {
  background-color: rgb(233, 233, 233);
}

.para-pop p {
  font-size: 11px;
  color: rgb(189, 189, 189);
}

.again-para-pop p {
  font-size: 11px;
  color: rgb(189, 189, 189);
}
