.main-banner {
  padding: 20px 65px;
}

.cover-car {
  width: 50%;
}

.cover-car h2 {
  font-weight: 500;
  font-size: 35px;
}

/*  */

@media screen and (max-width: 1072px) {
  .main-banner {
    padding: 20px 34px;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .main-banner {
    padding: 20px 15px;
  }

  .bar-info svg {
    font-size: 11px;
    margin: 0px 4px;
  }

  .upper-part h3 span {
    font-size: 18px;
    font-weight: 400;
  }
  .upper-part h3 {
    font-size: 28px;
    font-weight: 600;
  }

  .bar-info svg {
    font-size: 11px;
  }

  .upper-part svg {
    font-size: 12px;
  }

  .upper-part p {
    font-size: 12px;
  }

  .upper-part {
    margin-bottom: 15px;
  }
  .bar-info p {
    font-size: 9px;
    color: rgb(211, 211, 211);
  }
  .pink-btn {
    padding: 5px;
    font-size: 12px;
    color: white;
    background-color: #ee408a;
    border-radius: 8px;
    font-weight: 600;
    width: 43%;
  }

  .cover-car h2 {
    font-weight: 500;
    font-size: 29px;
  }

  .cover-car {
    padding: 10px;
    width: 100%;
  }
  .bar-info p {
    font-size: 9px;
    margin: 3px;
    color: rgb(211, 211, 211);
  }

  .car-back {
    width: 91%;
  }

  .bar-info {
    gap: 0px;
  }

  .car-box {
    width: 50%;
    height: auto;
    background-color: #ffe7f1;
    border-radius: 8px;
    padding: 20px;
  }
  .unbtn {
    width: 50%;
    font-size: 9px;
    font-weight: 500;
  }

  .car-box {
    width: 100%;
  }
}
@media screen and (max-width: 490px) {
  .main-banner {
    padding: 20px 15px;
  }

  .content-boxs {
    width: 100%;
    margin-top: 20px;
  }

  .upper-part h3 span {
    font-size: 18px;
    font-weight: 400;
  }
  .upper-part h3 {
    font-size: 28px;
    font-weight: 600;
  }

  .upper-part svg {
    font-size: 12px;
  }

  .upper-part p {
    font-size: 12px;
  }

  .upper-part {
    margin-bottom: 15px;
  }

  .pink-btn {
    padding: 5px;
    font-size: 12px;
    color: white;
    background-color: #ee408a;
    border-radius: 8px;
    font-weight: 600;
    width: 43%;
  }

  .cover-car h2 {
    font-weight: 500;
    font-size: 29px;
  }

  .cover-car {
    padding: 10px;
    width: 100%;
  }

  .car-back {
    width: 91%;
  }

  .bar-info {
    gap: 0px;
  }

  .unbtn {
    width: 50%;
    font-size: 9px;
    font-weight: 500;
  }

  .car-box {
    width: 100%;
  }
}
